::ng-deep.p-panel > .p-panel-header {
  background-color: green;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}