/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  padding: 10px 70px 10px 70px;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #f8fb6a;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
